.escuela{
    .subtitulo{
        text-align: center;
        color: $colorColor;
        font-size: $fsTexto;
    }
    .cajas {
        display: flex;
        justify-content: space-around;
        gap: 15px;
        flex-wrap: wrap;
        padding-left: 20px;
        margin-bottom: 20px;
        
    }
    
    .ubicacion {
    
       color: $colorPink;
        padding-left: 20px;
        
    }

    .formEscuela {
        color: $colorBlack;
        background-color: $colorColor;
        opacity: 2;
        margin-right: 20px;
        height: 400px;
        width: 400px;
        padding-left: 10px;
        margin-top: 25px;
        
    
    
    }
    p{
        padding-left: 5px;
    }
}