.staff {

    .imagenStaff {
        display: flex;
        flex-direction: column;
        align-items: center;

        .imagenConteiner {
            display: flex;
            flex-direction: row;
            justify-content: space-around;


            img {
                display: inline-block;
                width: 200px;
                margin: 20px ;
                height: 200px;
                padding: 10px 0;
                gap: 10px;
            }
        }

    }

    .carrouselImg{
        margin: 0 auto;
        margin-bottom: 100px;
    }
}